*{
    padding: 5px;
    margin: 5px;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

#article_body{
    max-width: 100%;
    min-height: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

#mainNavBar ul li {
    float: left;
    margin: 10px;
    font-size: 1rem;
}